In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
SELECT * FROM hra;

                                            Checking For NULL Values

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
SELECT *
FROM hra
WHERE (
    Age IS NULL OR
    Attrition IS NULL OR
    BusinessTravel IS NULL OR
    DailyRate IS NULL OR
    Department IS NULL OR
    DistanceFromHome IS NULL OR
    Education IS NULL OR
    EducationField IS NULL OR
    EmployeeCount IS NULL OR
    EmployeeNumber IS NULL OR
    EnvironmentSatisfaction IS NULL OR
    Gender IS NULL OR
    HourlyRate IS NULL OR
    JobInvolvement IS NULL OR
    JobLevel IS NULL OR
    JobRole IS NULL OR
    JobSatisfaction IS NULL OR
    MaritalStatus IS NULL OR
    MonthlyIncome IS NULL OR
    MonthlyRate IS NULL OR
    NumCompaniesWorked IS NULL OR
    Over18 IS NULL OR
    OverTime IS NULL OR
    PercentSalaryHike IS NULL OR
    PerformanceRating IS NULL OR
    RelationshipSatisfaction IS NULL OR
    StandardHours IS NULL OR
    StockOptionLevel IS NULL OR
    TotalWorkingYears IS NULL OR
    TrainingTimesLastYear IS NULL OR
    WorkLifeBalance IS NULL OR
    YearsAtCompany IS NULL OR
    YearsInCurrentRole IS NULL OR
    YearsSinceLastPromotion IS NULL OR
    YearsWithCurrManager IS NULL
);

                                 Checking For Duplicates

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
SELECT *
FROM hra
GROUP BY
  Age, Attrition, BusinessTravel, DailyRate, Department, DistanceFromHome,
  Education, EducationField, EmployeeCount, EmployeeNumber, EnvironmentSatisfaction,
  Gender, HourlyRate, JobInvolvement, JobLevel, JobRole, JobSatisfaction, MaritalStatus,
  MonthlyIncome, MonthlyRate, NumCompaniesWorked, Over18, OverTime, PercentSalaryHike,
  PerformanceRating, RelationshipSatisfaction, StandardHours, StockOptionLevel,
  TotalWorkingYears, TrainingTimesLastYear, WorkLifeBalance, YearsAtCompany,
  YearsInCurrentRole, YearsSinceLastPromotion, YearsWithCurrManager
HAVING COUNT(*) > 1;

                                    Renaming Column Headings To Lower Cases and Eliminating Spaces

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
 --renaming the remaining columns
ALTER TABLE hra
RENAME COLUMN "Education" TO "education";
ALTER TABLE hra
RENAME COLUMN "EducationField" TO "educationfield";
ALTER TABLE hra
RENAME COLUMN "EmployeeCount" TO "employeecount"; 
ALTER TABLE hra
RENAME COLUMN "EmployeeNumber" TO "employeenumber";
ALTER TABLE hra
RENAME COLUMN "EnvironmentSatisfaction" TO "environmentsatisfaction";
ALTER TABLE hra
RENAME COLUMN "Gender" TO "gender";
ALTER TABLE hra
RENAME COLUMN "HourlyRate" TO "hourlyrate";
ALTER TABLE hra
RENAME COLUMN "JobInvolvement" TO "jobinvolvement";
ALTER TABLE hra
RENAME COLUMN "JobLevel" TO "joblevel";
ALTER TABLE hra
RENAME COLUMN "JobRole" TO "jobrole";
ALTER TABLE hra
RENAME COLUMN "JobSatisfaction" TO "jobsatisfaction";
ALTER TABLE hra
RENAME COLUMN "MaritalStatus" TO "maritalstatus";
ALTER TABLE hra
RENAME COLUMN "MonthlyIncome" TO "monthlyincome";
ALTER TABLE hra
RENAME COLUMN "MonthlyRate" TO "monthlyrate";
ALTER TABLE hra
RENAME COLUMN "NumCompaniesWorked" TO "numcompaniesworked";
ALTER TABLE hra
RENAME COLUMN "Over18" TO "over18";
ALTER TABLE hra
RENAME COLUMN "OverTime" TO "overtime";
ALTER TABLE hra
RENAME COLUMN "PercentSalaryHike" TO "percentsalaryhike";
ALTER TABLE hra
RENAME COLUMN "PerformanceRating" TO "performancerating";
ALTER TABLE hra
RENAME COLUMN "RelationshipSatisfaction" TO "relationshipsatisfaction";
ALTER TABLE hra
RENAME COLUMN "StandardHours" TO "standardhours";
ALTER TABLE hra
RENAME COLUMN "StockOptionLevel" TO "stockoptionlevel";
ALTER TABLE hra
RENAME COLUMN "TotalWorkingYears" TO "totalworkingyears";
ALTER TABLE hra
RENAME COLUMN "TrainingTimesLastYear" TO "trainingtimeslastyear";
ALTER TABLE hra
RENAME COLUMN "WorkLifeBalance" TO "worklifebalance";
ALTER TABLE hra
RENAME COLUMN "YearsAtCompany" TO "yearsatcompany";
ALTER TABLE hra
RENAME COLUMN "YearsInCurrentRole" TO "yearsincurrentrole";
ALTER TABLE hra
RENAME COLUMN "YearsSinceLastPromotion" TO "yearssincelastpromotion";
ALTER TABLE hra
RENAME COLUMN "YearsWithCurrManager" TO "yearswithcurrmanager";

                                        Job Role Prone To Attrition

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritionjobrole(job_role VARCHAR(200),attrition NUMERIC);
INSERT INTO attritionjobrole(job_role,attrition)
SELECT 
    jobrole AS job_role,
    SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition
FROM hra
GROUP BY job_role
ORDER BY attrition DESC;

Laboratory Technician job role has the highest attrition, followed by Sales Executive and Research Scientist. Conversely, the Research Director job role has the lowest attrition.

                                        Attrition By Age

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritionage (attrition NUMERIC,retention NUMERIC,age_bin VARCHAR(200));
INSERT INTO attritionage(attrition,retention,age_bin)
SELECT
    SUM(CASE WHEN attrition = 'Yes' THEN 1 ELSE 0 END) AS attrition,
    SUM(CASE WHEN attrition = 'No' THEN 1 ELSE 0 END) AS retention,
    CASE
        WHEN age BETWEEN 18 AND 25 THEN '18-25'
        WHEN age BETWEEN 26 AND 33 THEN '26-33'
        WHEN age BETWEEN 34 AND 41 THEN '34-41'
        WHEN age BETWEEN 42 AND 49 THEN '42-49'
        WHEN age BETWEEN 56 AND 60 THEN '56-60'
        ELSE 'Other' 
    END AS age_bin
FROM hra
GROUP BY age_bin;

Age 26-33: There were 97 attrition cases in this age group.
Other Ages: There were 15 attrition cases in age groups not specified (Other).
Age 56-60: There were 8 attrition cases in this age group.
Age 18-25: There were 44 attrition cases in this younger age group.
Age 42-49: There were 23 attrition cases in this age group.
Age 34-41: There were 50 attrition cases in this age group.
This data illustrates the attrition distribution across different age groups. The age group 26-33 has the highest number of attrition cases, while other age groups, such as 56-60, exhibit lower attrition rates.

                                        Attrition By Department

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritiondpr (department VARCHAR(50),attrition_count NUMERIC);
INSERT INTO attritiondpr (department,attrition_count)
SELECT 
    department,
    SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition_count
FROM hra
GROUP BY department
ORDER BY attrition_count DESC;

Research & Development: This department experienced 133 attrition cases.
Sales: The Sales department had 92 attrition cases.
Human Resources: The Human Resources department saw 12 attrition cases. Research & Development had the highest attrition cases, followed by the Sales department, while the Human Resources department had the lowest attrition rate.

                                            Attrition By Gender

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritiongender (gender VARCHAR(150), attrition NUMERIC);
INSERT INTO attritiongender(gender,attrition)
SELECT 
    gender,
   SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition
FROM hra
GROUP BY gender;

In our analysis, we explored attrition cases based on gender within the organization. The data indicates the following:

Female: There were 87 attrition cases among female employees.
Male: Male employees experienced 150 attrition cases.
These numbers offer insights into attrition rates among different genders. It's apparent that male employees had a higher number of attrition cases compared to their female counterparts.

                                  Does Job Satisfaction Affect Attriction?

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritionsatisfaction (jobsatisfaction NUMERIC,attrition NUMERIC);
INSERT INTO attritionsatisfaction(jobsatisfaction,attrition)

SELECT 
    jobsatisfaction,
    SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition
FROM hra
GROUP BY jobsatisfaction
ORDER BY attrition DESC;

In our analysis, we investigated the potential relationship between job satisfaction and attrition within the organization. The data was represented as follows:

Job Satisfaction: The job satisfaction scores ranged from 1 to 4, with 1 being the lowest and 4 being the highest.
Attrition: The number of attrition cases associated with each level of job satisfaction.
Upon visualizing this data with a scatter plot, we observed that there wasn't a strong correlation between job satisfaction levels and attrition cases. In other words, the data points were scattered without a clear linear trend, indicating that job satisfaction alone may not be a dominant factor in predicting or explaining attrition in the organization.

This insight suggests that other factors or a combination of factors may play a more significant role in influencing attrition rates

                                        Does Enviromental Satisfaction Affect Attrition?

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE environment(enviromentalsatisfaction NUMERIC,attrition NUMERIC);
INSERT INTO environment
SELECT 
    environmentsatisfaction,
    SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition
FROM hra
GROUP BY environmentsatisfaction
ORDER BY attrition DESC;

In our analysis, we explored whether there was a correlation between environmental satisfaction and attrition within the organization. The data was represented as follows:

Environmental Satisfaction: Environmental satisfaction scores ranged from 1 to 4, with 1 representing the lowest satisfaction level and 4 the highest.
Attrition: The number of attrition cases associated with each level of environmental satisfaction.
Upon visualizing this data with a scatter plot, it became evident that there was no strong correlation between environmental satisfaction levels and attrition cases. The data points were scattered without a discernible linear relationship, indicating that environmental satisfaction alone may not be the primary driver of attrition within the organization.

This observation suggests that other factors or a combination of factors may have a more substantial influence on attrition rates.

                                                Attrition Rate

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE attritionrate(attrition_rate DECIMAL);
INSERT INTO attritionrate(attrition_rate)
SELECT
   ROUND( (SUM(CASE WHEN attrition = 'Yes' THEN 1 ELSE 0 END)*1.0 / COUNT(*)),2) AS attrition_rate
FROM hra;

16% of employees have left the organisation from the analysis

                                                    Average Age Of Employee

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE avgage(avg_age NUMERIC);
INSERT INTO avgage(avg_age)
SELECT 
    ROUND(AVG(age),0) AS avg_age
FROM hra;

average agae of employees at the company, is 37

                                            Department With Highest Attrition

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE deptwithhighestattrition(department VARCHAR(100));
INSERT INTO deptwithhighestattrition(department)
SELECT  department
FROM
    (SELECT
        department,
        SUM(CASE WHEN attrition='Yes' THEN 1 ELSE 0 END) AS attrition
    FROM hra
        GROUP BY department
        ORDER BY attrition DESC
        LIMIT 1)
;

                                                Average Monthly Income

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
CREATE TABLE avgmonthlyincome(avg_income NUMERIC);
INSERT INTO avgmonthlyincome(avg_income)
SELECT ROUND(AVG(monthlyincome),0) AS avg_income FROM hra;

In [ ]:
-- Active: 1688313602053@@127.0.0.1@5432@meriskill@public
SELECT  
    AVG(age),
    department,
    gender,
    monthlyincome
FROM hra
WHERE attrition='Yes'
GROUP BY department,gender,monthlyincome;

                                                    Insights
Attrition Rate: The overall attrition rate in the organization is approximately 16%. This rate provides an important baseline for understanding employee turnover and its potential impact on the organization.

Job Role Prone to Attrition: The analysis identified that certain job roles have a higher likelihood of attrition. Laboratory Technicians, Sales Executives, and Research Scientists have a relatively higher number of attrition cases. Understanding the reasons behind attrition in these roles is crucial for retention strategies.

Age and Attrition: There is a notable concentration of attrition in the 26-33 age group, with a smaller spike in the 18-25 age group. Age appears to be a factor contributing to attrition, and it's essential to understand why employees in these age groups are leaving.

Departmental Impact: The Research & Development department experiences the highest attrition, followed by the Sales department, while the Human Resources department has the lowest attrition rate. Analyzing the reasons for attrition within different departments can help tailor retention strategies.

Gender and Attrition: Male employees have a higher attrition rate compared to female employees. Understanding the underlying causes of this gender-related attrition disparity is important for achieving a more balanced workforce.

                                                    Conclusion and Recommendation

The analysis of HR attrition within the organization reveals valuable insights into the factors contributing to employee turnover. With an overall attrition rate of approximately 16%, it is evident that attrition is a relevant concern that needs attention. Several key patterns and trends have emerged:

Certain job roles, particularly Laboratory Technicians, Sales Executives, and Research Scientists, are prone to attrition.
Age appears to influence attrition, with a concentration of cases in the 26-33 age group, indicating the importance of addressing the needs of employees in this age bracket.
Departmental disparities in attrition rates highlight the need for tailored retention strategies across different functional areas.
Gender disparities in attrition rates, with males experiencing higher attrition, underscore the importance of gender diversity and inclusion efforts.

            Recommendations:

To mitigate attrition and enhance overall employee satisfaction and retention, the following recommendations can be considered:

Job Role-Specific Retention Strategies: Develop targeted retention strategies for job roles with high attrition rates. This may involve conducting employee surveys, exit interviews, and addressing issues specific to each role.

Age-Appropriate Programs: Implement programs or policies that address the unique needs and aspirations of employees in the 26-33 age group, such as career development opportunities, mentorship programs, or work-life balance initiatives.

Departmental Retention Plans: Collaborate with department heads to create department-specific retention plans. These plans should address departmental challenges and encourage engagement and job satisfaction.

Gender Equality Initiatives: Investigate the causes of higher male attrition and take measures to promote gender equality within the organization. Address gender-related disparities in compensation, opportunities, and work environment.

Regular Employee Feedback: Establish a feedback mechanism to continuously monitor employee satisfaction and attrition triggers. This can be done through regular surveys and stay interviews.

Training and Development: Invest in professional development and training opportunities to ensure employees feel their skills and career goals are supported.

Mentorship and Leadership Programs: Implement mentorship and leadership programs that help employees progress in their careers and feel a sense of belonging within the organization.

Diversity and Inclusion Initiatives: Promote a diverse and inclusive work culture to create a more equitable and welcoming environment for all employees.

Exit Interviews: Conduct meaningful exit interviews to understand the reasons behind employee departures and use this feedback for continuous improvement.

Continuous Monitoring: Regularly review and assess the effectiveness of retention strategies, making adjustments as needed based on ongoing analysis and feedback.